body {
  
  background-color: black;
  font-family: Arial, sans-serif;
  color: white;
}
p {
  

}
h1 {
  font-weight: bold;

  
}
hs {
  
  text-align: center;
  font-weight: bold;
  text-decoration: none;

}
img {
  float: left;
  width: 250px;
  margin: 10px;
  border-color: seagreen;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
}
a {
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  background-color: Black;
}

p2 {
  text-align: left;
  
}